<div class="container top-body">
  <header class="page-header">
    <h3>Dashboard <small>Fabrica Calypso - BCI</small></h3>
  </header>
  <div class="overview row">
    <div class="col-md-3 col-sm-6">
      <div class="o-item bg-cyan">
        <div class="oi-title">
          <span data-value="450382"></span>
          <span>Incidencias</span>
        </div>
          
      <div class="overview-chart-line text-center">
        <i class="fa fa-spinner fa-5x"></i>
      </div>  
      </div>
    </div>
  
    <div class="col-md-3 col-sm-6">
      <div class="o-item bg-amber">
        <div class="oi-title">
          <span data-value="8737"></span>
          <span>Proyectos</span>
        </div>
          
      <div class="overview-chart-line text-center">
        <i class="fa fa-check fa-5x"></i>  
      </div>
      </div>
    </div>
    
    <div class="col-md-3 col-sm-6">
      <div class="o-item bg-green">
        <div class="oi-title">
          <span data-value="450382"></span>
          <span>Clarity</span>
        </div>
          
      <div class="overview-chart-line text-center">
        <i class="fa fa-suitcase fa-5x"></i>  
      </div>
      </div>
    </div>
    
    <div class="col-md-3 col-sm-6">
      <div class="o-item bg-bluegray">
        <div class="oi-title">
          <span data-value="452"></span>
          <span>Desafios Fabrica</span>
        </div>
        
      <div class="overview-chart-line text-center">
        <i class="fa fa-line-chart fa-5x"></i>
      </div>
      </div>
    </div>
  </div>
</div>