<div class="container top-body">
  <div class="row">
      <div class="preffix_2 grid_8">
          <h2 class="header_1 wrap_3 color_3">
              Nuestra Visión
          </h2>
      </div>
  </div>
  <div class="row">
      <div class="grid_12">
          <div class="box_1">
              <p class="text_3">
                  Deseamos trabajar en forma efectiva y efeciente, desarrollando proyectos y mantenciones
                  que esten alineadas con los objectivos de BCI, entregando altos estandares en programación
                  y configuración de Calypso, para así aportar con el cumplimiento de las metas definidas
                  por la corporación.
                  
              </p>
          </div>
      </div>
  </div>
</div>