<div class="container top-body">
  <div class="row">
      <div class="preffix_2 grid_8">
          <h2>
            INCIDENCIAS REPORTADAS AGOSTO 2016
          </h2>
      </div>
  </div>
  <P>

  		<div class="col-md-12">
  			<div class="row">
  				<div class="col-md-6">
  				   <%= image_tag("incidencias-calypso.jpg") %>
  				</div>
  				<div class="col-md-6">
  				  <%= image_tag("incidencias-aplicativos.jpg") %>
  				</div>
  			</div>
  		</div>

  </P>
</div>
