<% if user_signed_in? %>
  <%= render "home/dashboard" %>
<% else %>
<%= render "home/slider" %>
<div class="container top-contenido">
  <%# = render "welcome/adicional" %>
  <%= render "welcome/graficos" %>
    <div class="row text-center">
</div>
<% end %>
  <div class="container">
    <% if user_signed_in? %>
      
    <% else %>
    <%= render "layouts/menu_sin_login" %>
    <% end %>
  </div>