<%= render "layouts/menu_sin_login" %>
<%= render "home/slider" %>
<div class="container top-body">
  <h1>Registrar un Nueva Incidencia CALYPSO</h1>
  <%= render 'form' %>
  
    <div class="row pull-right">
      <div class="col-md-12">
          <%= link_to '<< Volver', requests_path, class: "btn btn-info" %>
      </div>
    </div>
    

</div>
