<%= render "layouts/menu_sin_login"%>
<%= render "home/dashboard"%>
<div class="container">
  <h1>Registrar una nueva Area</h1>
    <div class="row pull-right">
      <div class="col-md-12">
          <%= link_to '<< Volver', areas_path, class: "btn btn-info" %>
      </div>
    </div>
    <%= render 'form' %>

</div>
