.top-body{
  margin-top: 38px;
}

.login-box, .register-box {
    width: 360px;
    margin: 7% auto;
}

.login-box-body, .register-box-body {
   background: #f7f7f7;
    padding: 20px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

#pie{
  
    font-size: 11px;
    color: #F9F8F8;
    text-align: center;
    margin-bottom: 0px;
    background-color: #777777;
}

.top-admin{
  margin-top: -63px;
}

.logo-login{
  border-radius: 50%;
  width: 100px;
  position: relative;
  margin-left: 100px;
}

/* gestion de administracion */

.o-item {
    padding: 0 20px 15px;
    color: #fff;
    margin-bottom: 30px;
    box-shadow: 0 1px 1px rgba(0,0,0,.07);
}
.bg-cyan {
    background-color: #00bcd4!important;
}
.bg-amber {
    background-color: #ffc107!important;
}
.bg-green {
    background-color: #4caf50!important;
}
.bg-bluegray {
    background-color: #607d8b!important;
}
.oi-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 10px 15px;
    width: auto;
    margin: 0 -21px 20px;
}


#notice_wrapper {
  display: none;
  position: absolute;
  top: 40px;
  width: 100%;
  z-index: 999;
}
  .alert { background: rgba(255, 100, 5, 0.80); }
  .notice{ background:rgba(91, 192, 222, 0.80); }
  .alert, .notice {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 0;    
    padding: 35px 0;
    text-align: center;  
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  }

.carousel-caption>h1{
  color: white;
}

.top-contenido{
  margin-top: -52px;
}

.title_bold{
  font-weight: bold;
}

.mono-amarillo{
  width: 400px;
  margin-top: -8px;
  margin-left: -163px;
}

.azul-title{
  color: #158cba;
  
}

.fondo-form{
      padding: 41px;
}

.borde-well{
    background-color: rgba(255, 65, 54, 0.1);
    border: 1px solid rgba(255, 54, 54, 0.23);
    padding-top: 15px;

}


.foto-logo{
  width: 183px;
  height: 47px;
  margin-top: -13px;
  
}


.flash {
    -webkit-animation-name: flash !important;
    animation-name: flash !important;
    animation-duration: 5s !important;
    animation-fill-mode: both !important;
}


.wrap_3 {
    padding-bottom: 34px;
}

.header_1 {
    text-align: center;
    font: 600 48px/60px 'Open Sans', sans-serif;
}
.color_3 {
    color: #129894;
}
.box_1 {
    text-align: center;
    padding-bottom: 30px;
}
.text_3 {
    font: 300 18px/24px 'Open Sans', sans-serif;
    text-align: center;
}


.foto-reporte{
    border: 3px solid #eee;
    border-radius: 4px;
    width: 400px;
    height: 300px;
}


.logo-footer{
      padding-top: 7px;
    padding-right: 6px;
}

.foto-user{
  width: 190px;
  height: 190px;
  border-radius: 55%;
}
