
.top-navbar{
  height: 90px;
  background-color: transparent;
  border-bottom-width: 0px;
}
.top-navbar .container{
  padding-top: 20px;
}
html>body {
    margin: 0;
    padding: 0;
}

.top-body{
  margin-top: 85px;
}

.login-box, .register-box {
    width: 360px;
    margin: 7% auto;
}

.login-box-body, .register-box-body {
   background: #f7f7f7;
    padding: 20px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

#pie{
  width: 100%;
  display: block;
  margin: 0 auto;
  background: #3b3d40;
}
.footer2{
  color: white;
  line-height: 130%;
  margin: 0 auto;
  display: table;
  text-align: center;
}
#pie .auxi{
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 15px;
}
ul.menu-footer {
  margin: 0 auto;
  display: table;
  list-style: none;
}
ul.menu-footer li {
  float: left;
}
li{
  display: list-item;
  text-align: -webkit-match-parent;
}

.frase-destacada {
  
  font-size: 28px;
  line-height: 140%;
  color: #FFF;
  width: 505px;
  margin-bottom: 225px;
  margin-left: 3em;
}
.carousel-caption p{
  font-size: 28px;
}
#destacado {
  max-width: 1010px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 68px;
}

.top-admin{
  margin-top: -63px;
}

.logo-login{
  border-radius: 50%;
  width: 100px;
  position: relative;
  margin-left: 100px;
}

/* gestion de administracion */

.o-item {
    padding: 0 20px 15px;
    color: #fff;
    margin-bottom: 30px;
    box-shadow: 0 1px 1px rgba(0,0,0,.07);
}
.bg-cyan {
    background-color: #00bcd4!important;
}
.bg-amber {
    background-color: #ffc107!important;
}
.bg-green {
    background-color: #4caf50!important;
}
.bg-bluegray {
    background-color: #607d8b!important;
}
.oi-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 10px 15px;
    width: auto;
    margin: 0 -21px 20px;
}


#notice_wrapper {
  display: none;
  position: absolute;
  top: 40px;
  width: 100%;
  z-index: 999;
  float: right;
}
  .alert { background: rgba(255, 100, 5, 0.80); }
  .notice{ background:rgba(91, 192, 222, 0.80); }
  .alert, .notice {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 0;
    padding: 35px 0;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  }

.carousel-caption>h1{
  color: white;
}

.top-contenido{
  margin-top: -52px;
}

.title_bold{
  font-weight: bold;
}

.mono-amarillo{
  width: 400px;
  margin-top: -8px;
  margin-left: -163px;
}

.azul-title{
  color: #158cba;

}

.fondo-form{
      padding: 41px;
}

.borde-well{
    background-color: rgba(255, 65, 54, 0.1);
    border: 1px solid rgba(255, 54, 54, 0.23);
    padding-top: 15px;

}


.foto-logo{
    width: 250px;
    height: 60px;
    margin-top: -26px;
    margin-left: -37px;

}

.flash {
  -webkit-animation-name: flash !important;
  animation-name: flash !important;
  animation-duration: 5s !important;
  animation-fill-mode: both !important;
}


.wrap_3 {
  padding-bottom: 34px;
}

.header_1 {
    text-align: center;
    font: 600 48px/60px 'Open Sans', sans-serif;
}
.color_3 {
    color: #129894;
}
.box_1 {
    text-align: center;
    padding-bottom: 30px;
}
.text_3 {
  font: 300 18px/24px 'Open Sans', sans-serif;
  text-align: center;
}


.foto-reporte{
  border: 3px solid #eee;
  border-radius: 4px;
  width: 400px;
  height: 300px;
}

.logo-footer {
  width: 120px;
  height: auto;
  margin: 35px auto 25px;
  display: block;
}
.logo-footer img{
  
  height: 100px;
  margin-left: 50%;
}

.foto-user{
  width: 190px;
  height: 190px;
  border-radius: 55%;
  margin: 5px;
  padding: 5px;
  margin-left: 152px;
  border: 2px solid #ccc;
  background-color: #fff;
  filter: sepia(100%);
}

.foto-user-small{
    width: 90px;
    height: 90px;
    position: static;
    margin: 8px;
    margin-left: 54px;
    border-radius: 50%;
}
.foto-user-head{
  width: 42px;
  height: 42px;
  border-radius: 50%;
}

.perfil-rojo{
    width: 100px;
    height: 90px;
    border: 2px solid #eee;
}

/* menu superior */

 .navbar-default .navbar-nav>li>a {
    color: #FBF7F7;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #33A1E6;
    background-color: transparent;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    background-color: transparent;
    color: #ff4136;
}
.navbar-nav{
  margin-left: 11%;
}
.navbar-nav li>a{
  color: white;
}

.navbar-nav li>a:hover{
  color: #fff;
  background-color: #158CBA;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.navbar-default.affix {
    background-color: white;
    border-color: rgba(34, 34, 34, 0.05);
}


/* edit navbar*/

.navbar-default{
    background-color: #213244;
    border: none;
}

.color2{
  background-color:#213244;
}

.input-group-addon{
  height: 15px;
}

.foto-profile{
  width: 20%;
  height: auto;
  position: initial;
  margin: 0 auto;
}

.foto-noticia{
  width: 230px;
  height: 243px;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  display: block;
  padding: 5px;
  border-radius: 4px;
  margin-top: 10px;
  position: absolute;
  
}
.cont-noticia{
    margin-left: 250px;
    display: block;
    line-height: inherit;
    text-align: justify;
  
}